openflow/schemas/manifest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="/opt/foamofelia/ofelia/foam/schemas/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sliver">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="description"/>
          <xs:attribute type="xs:string" name="email"/>
          <xs:attribute type="xs:string" name="slice"/>
          <xs:attribute type="xs:string" name="status"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
