geniv3/virtualisation/advertisement.xsd

<!-- XML schema validator: http://schneegans.de/sv/ -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="rspec" type="RSpecVirtualisation"/>

    <xs:complexType name="RSpecVirtualisation">
        <xs:sequence>
            <xs:element name="network" type="Servers"/>
        </xs:sequence>
        <xs:attribute name="type" type="RSpecType"/>
        <xs:attribute type="xs:string" name="virtualisation"/>
    </xs:complexType>

    <xs:simpleType name="RSpecType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="advertisement"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Servers">
        <xs:sequence>
            <xs:element name="sliver" type="Server" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Server">
        <!--all = child elements can appear in any order & element must occur only once -->
        <!-- default values: minOccurs=1, maxOccurs=1 (==> use="required") -->
        <xs:all>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="uuid"/>
            <xs:element type="xs:integer" name="cpus_number" minOccurs="0"/>
            <xs:element type="xs:float" name="cpu_frequency" minOccurs="0"/>
            <xs:element type="xs:integer" name="virtual_memory_mb" minOccurs="0"/>
            <xs:element type="xs:float" name="hard_disk_space_gb" minOccurs="0"/>
            <xs:element name="network_interfaces" type="NetworkInterfaces" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="NetworkInterfaces">
        <xs:sequence>
            <xs:element name="network_interface" type="NetworkInterface" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NetworkInterface">
        <xs:sequence>
            <xs:element name="network_interface_data" type="NetworkInterfaceData"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>

    <xs:complexType name="NetworkInterfaceData">
        <!--all = child elements can appear in any order & element must occur only once -->
        <!-- default values: minOccurs=1, maxOccurs=1 (==> use="required") -->
        <xs:all>
            <xs:element type="NetworkInterfaceType" name="type" minOccurs="0"/>
            <xs:element type="xs:string" name="name" minOccurs="0"/>
            <xs:element type="xs:boolean" name="is_management_bridge" minOccurs="0"/>
            <xs:element type="xs:string" name="switch_id" minOccurs="0"/>
            <xs:element type="xs:integer" name="switch_port" minOccurs="0"/>
            <xs:element type="xs:string" name="start_value" minOccurs="0"/>
            <xs:element type="xs:string" name="end_value" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="NetworkInterfaceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Range"/>
            <xs:enumeration value="Network"/>
            <!-- Add types as needed -->
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="DiscImageTemplates">
        <xs:sequence>
            <xs:element name="disc_image_template" type="DiscImageTemplate" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DiscImageTemplate">
        <!--all = child elements can appear in any order & element must occur only once -->
        <!-- default values: minOccurs=1, maxOccurs=1 (==> use="required") -->
        <xs:all>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:integer" name="minimum_memory" minOccurs="0"/>
            <xs:element type="xs:string" name="operating_system_type"/>
            <xs:element type="xs:float" name="operating_system_version"/>
            <xs:element type="xs:string" name="operating_system_distribution"/>
            <xs:element type="xs:string" name="hard_disk_setup_type"/>
            <xs:element type="xs:string" name="virtualisation_setup_type"/>
        </xs:all>
    </xs:complexType>

</xs:schema>
