geniv3/virtualisation/advertisement.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="rspec" type="RSpecVirtualisation"/>

    <xs:complexType name="RSpecVirtualisation">
        <xs:sequence>
            <xs:element name="network" type="Servers"/>
        </xs:sequence>
        <xs:attribute name="type" type="RSpecType">
        <xs:attribute type="xs:string" name="virtualisation"/>
    </xs:complexType>

    <xs:simpleType name="RSpecType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="advertisement"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Servers">
        <xs:sequence>
            <xs:element name="sliver" type=“Server” maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Server">
        <xs:sequence>
            <xs:element type="xs:string" name="name" use="required"/>
            <xs:element type="xs:string" name="uuid" use="required"/>
            <xs:element type="xs:integer" name="cpus_number" use="optional"/>
            <xs:element type="xs:float" name="cpu_frequency" use="optional"/>
            <xs:element type="xs:integer" name="virtual_memory_mb" use="optional"/>
            <xs:element type="xs:float" name="hard_disk_space_gb" use="optional"/>
            <xs:element name="network_interfaces" type="NetworkInterfaces" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="disc_image_templates" type="DiscImageTemplates" use="optional"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NetworkInterfaces">
        <xs:sequence>
            <xs:element name="network_interface" type="NetworkInterface"/>
        </xs:sequence>
    <xs:complexType>

    <xs:complexType name="NetworkInterface">
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:sequence>
            <xs:element type="NetworkInterfaceType" name="type" minOccurs="0"/>
            <xs:element type="xs:string" name="name" minOccurs="0"/>
            <xs:element type="xs:boolean" name="is_management_bridge" minOccurs="0"/>
            <xs:element type="xs:string" name="switch_id" minOccurs="0"/>
            <xs:element type="xs:integer" name="switch_port" minOccurs="0"/>
            <xs:element type="xs:string" name="start_value" minOccurs="0"/>
            <xs:element type="xs:string" name="end_value" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="NetworkInterfaceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Range"/>
            <xs:enumeration value="Network"/>
            <!-- Add types as needed -->
        </xs:retriction>
    </xs:simpleType>

    <xs:complexType name="DiscImageTemplates">
        <xs:sequence>
            <xs:element name="disc_image_template" type="DiscImageTemplate"/>
        </xs:sequence>
    <xs:complexType>

    <xs:complexType name="DiscImageTemplate">
        <xs:sequence>
            <xs:element type="xs:string" name="name" use="required"/>
            <xs:element type="xs:integer" name="minimum_memory" use="optional"/>
            <xs:element type="xs:string" name="operating_system_type" use="required"/>
            <xs:element type="xs:float" name="operating_system_version" use="required"/>
            <xs:element type="xs:string" name="operating_system_distribution" use="required"/>
            <xs:element type="xs:string" name="hard_disk_setup_type" use="required"/>
            <xs:element type="xs:string" name="virtualisation_setup_type" use="required"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
