geniv3/virtualisation/manifest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="rspec" type="RSpecVirtualisation"/>

    <xs:complexType name="RSpecVirtualisation">
        <xs:sequence>
            <xs:element name="node" type="Slice"/>
        </xs:sequence>
        <xs:attribute name="type" type="RSpecType">
        <xs:attribute type="xs:string" name="virtualisation"/>
    </xs:complexType>

    <xs:simpleType name="RSpecType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="manifest"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Slice">
        <xs:sequence>
            <xs:element name="sliver" type="VM"/>
        </xs:sequence>
    <xs:complexType>

    <xs:complexType name="VM">
        <xs:sequence>
            <xs:element type="xs:string" name="name" use="required"/>
            <xs:element type="xs:integer" name="memory_mb" use="required"/>
            <xs:element type="xs:string" name="server_name" use="required"/>
            <xs:element type="xs:string" name="server_uuid" use="required"/>
            <xs:element type="xs:dateTime" name="expiration_date" use="optional"/>
            <xs:element type="xs:dateTime" name="generation_date" use="optional"/>
            <xs:element type="xs:string" name="virtualisation_technology" use="required"/>
            <xs:element name="disc_image" type="DiscImageTemplate" use="required"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DiscImageTemplate">
        <xs:sequence>
            <xs:element type="xs:string" name="name" use="required"/>
            <xs:element type="xs:integer" name="minimum_memory" use="optional"/>
            <xs:element type="xs:string" name="operating_system_type" use="required"/>
            <xs:element type="xs:float" name="operating_system_version" use="required"/>
            <xs:element type="xs:string" name="operating_system_distribution" use="required"/>
            <xs:element type="xs:string" name="hard_disk_setup_type" use="required"/>
            <xs:element type="xs:string" name="virtualisation_setup_type" use="required"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
