geniv3/virtualisation/request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="rspec" type="RSpecVirtualisation"/>

    <xs:complexType name="RSpecVirtualisation">
        <xs:sequence>
            <xs:element name="node" type="Slice"/>
        </xs:sequence>
        <xs:attribute name="type" type="RspecType">
        <xs:attribute type="xs:string" name="virtualisation"/>
    </xs:complexType>

    <xs:simpleType name="RspecType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="request"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Slice">
        <xs:sequence>
            <xs:element name="sliver" type="VM"/>
        </xs:sequence>
    <xs:complexType>

    <xs:complexType name="VM">
        <xs:sequence>
            <xs:element type="xs:string" name="name" use="required"/>
            <xs:element type="xs:integer" name="memory_mb" use="required"/>
            <xs:element type="xs:string" name="server_uuid" use="required"/>
            <xs:element type="xs:string" name="template_name" use="optional"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
